@model List<IdentityServer.ViewModels.Administration.RolesUserViewModel>
@{
    ViewData["Title"] = "Gérer les rôles de l'utilisateur";
    var userId = ViewBag.userId;
    var returnUrl = ViewBag.returnUrl;
}



@using (Html.BeginForm(FormMethod.Post))
{
    <div class="card">
        <div class="card-header">
            <h2>Gérer les rôles de l'utilisateur</h2>
        </div>
        <div class="card-body">

            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

            <table class="table table-striped" id="myTable">
                <thead>
                    <tr>
                        <th class="text-center">Cocher pour attribuer le rôle</th>
                        <th class="NomColonne" id="0">Nom du rôle</th>
                        <th class="NomColonne text-center" id="1">Accès complet</th>
                        <th class="NomColonne text-center" id="2">Accès partiel</th>
                        <th class="text-center">Modifier l'accès de l'utilisateur</th>
                    </tr>
                </thead>
                <tbody>


                    @for (int i = 0; i < Model.Count; i++)
                    {
                    <tr>
                        <td class="text-center">@Html.EditorFor(model => model[i].isSelected)</td>
                        <td>@Html.Label("", Model[i].RoleName)</td>
                        <td class="text-center">@Html.DisplayFor(model => model[i].isFullAcces)</td>
                        <td class="text-center">@Html.DisplayFor(model => model[i].isPartialAccess)</td>
                        <td class="text-center">
                            @if (Model[i].isEditable && Model[i].isSelected)
                            {
                                @Html.ActionLink("Modifier", "EditScopeRole", "AdministrationUsers", new { roleId = Model[i].RoleId }, new { @class = "btn btn-primary" })
                            }

                            @Html.HiddenFor(model => model[i].RoleId)
                            @Html.HiddenFor(model => model[i].RoleName)
                            @Html.HiddenFor(model => model[i].isPartialAccess)
                            @Html.HiddenFor(model => model[i].isFullAcces)
                            @Html.HiddenFor(model => model[i].isEditable)

                        </td>
                    </tr>
                    }
                       

                </tbody>
            </table>
        </div>

        <div class="card-footer">
            <button style="width:auto" type="submit" name="button" value="update" class="btn btn-success">Mettre à jour l'utilisateur</button>
            @Html.ActionLink("Retour à la liste des utilisateurs", "ListeUsers", "AdministrationUsers", new { userId = userId, returnUrl = returnUrl }, new { @class = "btn btn-danger" })
        </div>
    </div>

}

@section Scripts{
    <script src="~/js/site.js"></script>
}